RewriteEngine On

RewriteRule ^games$ g_games.php [L]
RewriteRule ^games/sorted$ g_games_sorted.php [L]
RewriteRule ^games/([0-9]+)$ g_games.php?p=$1 [L]

RewriteRule ^poules$ g_poules.php [L]
RewriteRule ^poules/([0-9]+)$ g_poules.php?p=$1 [L]
RewriteRule ^poules/([0-9]+)/stats$ g_poule_stats.php?p=$1

RewriteRule ^stats$ g_stats.php [L]
RewriteRule ^stats/([0-9]+)$ g_stats.php?p=$1 [L]

RewriteRule ^screen$ g_screen.php [L]

RewriteRule ^params/date$ g_params.php?name=datum [L]