RewriteEngine On

RewriteRule ^gen_games$ gen_games.php [L]
RewriteRule ^poules$ poules.php [L]
RewriteRule ^results$ results.php [L]
RewriteRule ^teams/([0-9]+)$ teams.php?id=$1 [L]
RewriteRule ^teams$ teams.php [L]